{
  "all": true,
  "cache": false,
  "check-coverage": true,
  "branches": 70,
  "functions": 90,
  "lines": 90,
  "statements": 90,
  "extension": [".ts", ".tsx", ".js", ".jsx"],
  "include": ["src/**/*.{ts,tsx,js,jsx}"],
  "exclude": ["**/*.d.ts", "src/**/*.test.*", "src/**/__tests__/**", "src/jest/**"],
  "reporter": ["html", "lcov", "text-summary"]
}
