name: "Commitlint"

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  lint-commits:
    runs-on: ubuntu-latest
    steps:
      - name: "Lint commit messages"
        uses: wagoid/commitlint-github-action@v6
